SQLAlchemy==2.0.36
pydantic==2.9.2
pytest==7.4.4
httpx== 0.27.2
alembic==1.16.1
psycopg2-binary==2.9.10
dotenv==0.9.9 
pydantic_settings==2.9.1
uvicorn==0.34.2
fastapi==0.115.12
typing==3.7.4.3
asyncpg==0.30.0